table {
  width: 100%;
}

thead {
  background-color: #9C27B0 ;
  color: #FFF;
}

th {
  padding: 15px 8px;
  font-weight: 500;
}

.table>:not(:first-child) {
  border: none;
}

.table-content tr.mat-header-row {
  background-color: #9C27B0;
}

.table-content th.mat-header-cell {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.table-content .mat-cell, .mat-footer-cell {
  color: #000;
  font-size: 15px;
  text-align: center;
}

.table-content .discards-width { width: 8%; }
.table-content .edit-width { width: 9%; }
.table-content .delete-width { width: 10%; }

.table-content .add-discard-btn{
  color: #FFF;
  background-color: #28A745;
}
.table-content .edit-btn{
  color: #FFF;
  background-color: #6C757D;
}
.table-content .delete-btn{
  color: #FFF;
  background-color: #DC3545;
}

::ng-deep .table-content .mat-form-field-wrapper { padding-bottom: 0; }
::ng-deep .table-content .mat-form-field-underline { position: initial; }

.table-content .start-game-btn {
  color: #FFF;
  background: #9C27B0;
}

.table-content .active {
  opacity: 1;
}

.table-content .disabled {
  opacity: .5;
}
