<div class="table-content mt-5">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="text-center">Name</th>
          <th scope="col" class="text-center">E-mail</th>
          <th scope="col" class="text-center">First Discard</th>
          <th scope="col" class="text-center">Second Discard</th>
          <th scope="col" class="text-center discards-width">Add Discards</th>
          <th scope="col" class="text-center edit-width">Edit Participant</th>
          <th scope="col" class="text-center delete-width">Delete Participant</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center pt-4">Maximiliano</td>
          <td class="text-center pt-4">maxi@gmail.com</td>
          <td class="text-center">
            <mat-form-field appearance="fill">
              <mat-label>Select</mat-label>
              <mat-select>
                <mat-option value="one">Sin descarte</mat-option>
                <mat-option value="one">Yam</mat-option>
                <mat-option value="two">Jul</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td class="text-center">
            <mat-form-field appearance="fill">
              <mat-label>Select</mat-label>
              <mat-select>
                <mat-option value="one">Sin descarte</mat-option>
                <mat-option value="one">Yam</mat-option>
                <mat-option value="two">Jul</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td class="text-center pt-3">
            <button mat-raised-button class="add-discard-btn">
              <span class="material-icons">group_add</span>
            </button>
          </td>
          <td class="text-center pt-3">
            <button mat-raised-button class="edit-btn">
              <span class="material-icons">edit</span>
            </button>
          </td>
          <td class="text-center pt-3">
            <button mat-raised-button class="delete-btn">
              <span class="material-icons">delete</span>
            </button>
          </td>
        </tr>
        <tr>
          <td class="text-center pt-4">Maximiliano</td>
          <td class="text-center pt-4">maxi@gmail.com</td>
          <td class="text-center">
            <mat-form-field appearance="fill">
              <mat-label>Select</mat-label>
              <mat-select>
                <mat-option value="one">Sin descarte</mat-option>
                <mat-option value="one">Yam</mat-option>
                <mat-option value="two">Jul</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td class="text-center">
            <mat-form-field appearance="fill">
              <mat-label>Select</mat-label>
              <mat-select>
                <mat-option value="one">Sin descarte</mat-option>
                <mat-option value="one">Yam</mat-option>
                <mat-option value="two">Jul</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td class="text-center pt-3">
            <button mat-raised-button class="add-discard-btn">
              <span class="material-icons">group_add</span>
            </button>
          </td>
          <td class="text-center pt-3">
            <button mat-raised-button class="edit-btn">
              <span class="material-icons">edit</span>
            </button>
          </td>
          <td class="text-center pt-3">
            <button mat-raised-button class="delete-btn">
              <span class="material-icons">delete</span>
            </button>
          </td>
        </tr>
        <tr>
          <td class="text-center pt-4">Maximiliano</td>
          <td class="text-center pt-4">maxi@gmail.com</td>
          <td class="text-center">
            <mat-form-field appearance="fill">
              <mat-label>Select</mat-label>
              <mat-select>
                <mat-option value="one">Sin descarte</mat-option>
                <mat-option value="one">Yam</mat-option>
                <mat-option value="two">Jul</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td class="text-center">
            <mat-form-field appearance="fill">
              <mat-label>Select</mat-label>
              <mat-select>
                <mat-option value="one">Sin descarte</mat-option>
                <mat-option value="one">Yam</mat-option>
                <mat-option value="two">Jul</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td class="text-center pt-3">
            <button mat-raised-button class="add-discard-btn">
              <span class="material-icons">group_add</span>
            </button>
          </td>
          <td class="text-center pt-3">
            <button mat-raised-button class="edit-btn">
              <span class="material-icons">edit</span>
            </button>
          </td>
          <td class="text-center pt-3">
            <button mat-raised-button class="delete-btn">
              <span class="material-icons">delete</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="btn-content text-center">
    <!-- No se puede generar el juego hasta que no haya 6 o más participantes -->
    <!-- [ngClass]="participantsForm.invalid ? 'disabled' : 'active'" [disabled]="participantsForm.invalid" -->
    <button class="start-game-btn w-25" mat-raised-button>Start Game</button>
  </div>
</div>

