<div class="container">
  <div class="form-component d-flex justify-content-center mt-5">
    <div class="form">
      <form class="w-75" [formGroup]="participantsForm" (ngSubmit)="addParticipant()">

        <h2>Add Participant</h2>

        <div>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Participant Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Participant Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
        </div>

        <div class="btn-content text-center">
          <button class="apply-btn w-100" mat-raised-button [ngClass]="participantsForm.invalid ? 'disabled' : 'active'" [disabled]="participantsForm.invalid">Apply</button>
        </div>

      </form>
    </div>
  </div>

  <!--
    - Este componete, llama al participant service para guardar cada participant a la vez lo va trayendo con un GET
    - Por medio de @input le mando los participantes a la tabla para mostrarlos
    - La La tabla por medio de PUT actualiza el participant agregando discard
    - El edit debe llamar a un modal que tmb actualize por medio de PUT
    - El delete borra participante por su ID
    - Dentro de la tabla el boton "generar juego" genera comienza el sorteo
  -->

  <app-participants-table></app-participants-table>

</div>

