.form-component .form{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px;
  background: transparent;
  border: 0px solid #9C27B0;
  border-radius: 25px;
  box-shadow: 5px 7px 19px -1px rgba(0,0,0,0.72);
  -webkit-box-shadow: 5px 7px 19px -1px rgba(0,0,0,0.72);
  -moz-box-shadow: 5px 7px 19px -1px rgba(0,0,0,0.72);
}

.form h2 {
  color: #9C27B0;
  text-transform: capitalize;
}

.form .apply-btn {
  color: #FFF;
  background: #9C27B0;
}

.form .active {
  opacity: 1;
}

.form .disabled {
  opacity: .5;
}




