.header-content {
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
}

.header-content .mat-toolbar-row, .mat-toolbar-single-row {
  font-family: 'Montserrat', sans-serif;
  background-color: #9C27B0;
  color: #FFF;
}

